doctype
html
	head
		title Poco Nginx, Node, Mysql, PhpMyAdmin Example
	body
		header.header
			.header-logo
				img(src="/assets/images/logo.svg")
			h1.header-title Poco Nginx, Node, Mysql, PhpMyAdmin Example

			nav.nav
				ul.nav-list
					li.nav-list-item
						a(href="https://github.com/shiwaforce/poco" target="_blank" rel="noopener") Github
					li.nav-list-item
						a(href="https://getpoco.io/documentation/" target="_blank" rel="noopener") Documentation
					li.nav-list-item
						a(href="https://getpoco.io/tutorials/" target="_blank" rel="noopener") Tutorials
		main.main
			div#app

		script(src="/assets/js/app.js")
